./**.NEF
/Code/Image_functions/IMAGE_NEF/
/Code/Image_functions/defualt/
/Code/Image_functions/FirstRun/
/Code/Image_functions/LocalModels/
/Code/Image_functions/JobOutputFiles/
/Code/Image_functions/SecondRun/
/Code/Image_functions/CE_MSE/
/Code/Image_functions/LossFirstRun/
/Code/Image_functions/CE_L1/
